
a {
    text-decoration: none !important;  /* убираем подчеркивание */
    color: inherit !important;         /* наследуем цвет */
}

body {
background-color: #0F172A;
color: #E2E8F0;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.header {
    background-color: #805AD5;
    border: 2px solid #6023e2;
    border-radius: 10px;
    box-shadow: #6943bb;
    box-shadow: #6943bb 0 0 2px 2px;
}
.aside {
    border: 2px solid #6023e2;
    border-radius: 5px;
    padding: 10px;
    color: #E2E8F0;
    font-size: 20px;
    position: relative;
    bottom: 5px;
}
nav a {
    padding-left: 10px;
    padding-right: 10px;
    border: 2px solid #6023e2;
    border-radius: 5px;
    box-shadow: #6943bb 0 0 2px 2px;
}
.main {
    background-color: #805AD5;
    border: 2px solid #6023e2;
    border-radius: 5px;
    position: relative;
    top: 20px;
    box-shadow: #6943bb 0 0 2px 2px;
    max-width: 600px;
    margin: o auto;
    padding: 10px;
    box-sizing: border-box;
}
#txt1 {
    background-color: #7e5fbe;
    position: relative;
    border: 2px solid #6023e2;
    border-radius: 5px;
    box-shadow: #6943bb 0 0 2px 2px;
    margin-bottom: 20px;
}
#txt2 {
    background-color: #7e5fbe;
    position: relative;
    border: 2px solid #6023e2;
    border-radius: 5px;
    box-shadow: #6943bb 0 0 2px 2px;
    margin-bottom: 20px;
}
#txt3 {
    background-color: #7e5fbe;
    position: relative;
    border: 2px solid #6023e2;
    border-radius: 5px;
    box-shadow: #6943bb 0 0 2px 2px;
    margin-bottom: 1px;
}
.footer {
    padding: 0 5px;
    margin-top: 60px;
    background-color: #64597c;
    border: 2px solid #7257ac;
    border-radius: 10px;
    box-shadow: #7051b1 0 0 2px 2px;
}
#end {
    background-color: #726886;
    margin: 10px;
    padding: 0 10px;
    border: 2px solid #7952ce;
    border-radius: 5px;
    box-shadow: #7051b1 0 0 2px 2px;
}